@import url(../bootstrap/scss/_variables.scss);
@import url(../bootstrap/scss/_functions.scss);
@import url(../bootstrap/scss/_mixins.scss);
@import url(../bootstrap/scss/bootstrap-utilities.scss);
$violet:#6a5be2;
$ramblue:#D2DFFF;
$secondary:#6c757d;

$font-family-sans-serif: 'Poppins', sans-serif !default;
$font-family-serif:      "Helvatica", serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$theme-colors: (
  "primary": $violet,
  "ramblue":$ramblue,
  "secondary":$secondary
);

@import "../bootstrap/scss/bootstrap.scss";